.border{
   
        width: 40%;
        margin: auto;
       // margin-left: 30%;
        text-align: center;
}
.card{
      border: 2px solid blue;
      width:75%;
      height: 400px;
      border-radius: 12px;
      text-align: center;
      margin-left: 10%;
}