.border{
   
      width: 40%;
      margin: auto;
      margin-left: 30%;
      margin-right: 30%;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
}
.card{
      border: 2px solid rgb(221, 97, 25);
      width:75%;
      height: 400px;
      border-radius: 12px;
      box-shadow: 18px 15px 6px #E4D8DC;
      margin-left: 10%;
      margin-top: 70px;
      text-align: center;
}
#link{
      text-decoration: none;
      color: grey;
      font-size: 30px;
      font-weight: 400;
}

#align{
      margin-right: 50%;

}

#head-bottom{
      color:rgb(221, 97, 25);
      text-align: center;
      letter-spacing: 1px;
      font-weight: 100;
}
#c1{
      vertical-align: middle;
}

#label{
    font-size: 15px;
}


.head-top{
      font-size: 40px;
      font-weight: 900;
}
.font{
      font-size: 25px;
      font-weight: 200;
      letter-spacing: 1px;
}